#**Lista de exercícios 1**(*Heitor Hayashi Ferrairo*), caso tenha algum comentário ou encontre algum erro me notifique por gentileza!



> Básico

1. Crie um programa que imprima seu nome e sua idade.

In [18]:
nome = "Heitor"
idade = 19
print(f"Meu nome é {nome} e tenho {idade} anos")

Meu nome é Heitor e tenho 19 anos

2. Escreva um código que calcule a soma de dois números inteiros.

In [28]:
numero1 = 10
numero2 = 5
print(numero1 + numero2)

15

3. Crie três variáveis: nome, cidade, idade — e use o print() para exibir uma frase
com esses dados.

In [20]:
nome = "Heitor"
cidade = "São Paulo"
idade = 19
print(f"Meu nome é {nome} moro em {cidade} e tenho {idade} anos")

Meu nome é Heitor moro em São Paulo e tenho 19 anos

4. Declare uma variável com o nome de um filme e mostre: “Meu filme favorito
é...”

In [21]:
filme = "Os oito odiados"
print("Meu filme favorito é:", filme)

Meu filme favorito é: Os oito odiados



> Intermediário

1. Escreva duas notas e calcule a média. Exiba o resultado com uma mensagem.

In [25]:
nota1 = 7.5
nota2 = 6.1
media = (nota1 + nota2) / 2
print(f"A média das notas {nota1} e {nota2} é: {media}")

A média das notas 7.5 e 6.1 é: 6.8

2. Crie um código que mostre a seguinte mensagem:
O aluno João tirou 8.5 na prova de matemática.
Utilize variáveis para nome, nota e disciplina.

In [22]:
nomeAluno = "João"
notaMatematica = 8.5
disciplina = "matemática"
print(f"O aluno {nomeAluno} tirou {notaMatematica} na prova de {disciplina}")

O aluno João tirou 8.5 na prova de matemática

3. Escreva um código com pelo menos três comentários explicando seu funcionamento.

In [26]:
valor1 = 12 # Atribui o valor da variável "valor1"
valor2 = valor1 + 2 # Atribui a variável "valor2" o número anterior somado com 2
print(valor1, valor2) # Exibe ambas as variáveis

12 14

4. Digite um código com erro de propósito. Leia a mensagem de erro e corrija.

In [23]:
numeroString = "12"
print(numeroString + 9)

TypeError: can only concatenate str (not "int") to str

In [24]:
numeroString = "12"
print(numeroString + "9")

129