# **Lista de exercícios 5** *(Heitor Hayashi Ferrairo)*, caso tenha algum comentário ou encontre algum erro me notifique por gentileza!

**Exercícios feitos em aula**

1. Crie uma lista de notas vazias as notas 6, 5, 4, remova a nota do índice 2, remova a nota de valor 6, exiba o resultado final da lista

In [4]:
listaDeNotas = []

listaDeNotas.append(6)
listaDeNotas.append(4)
listaDeNotas.insert(1, 5)

listaDeNotas.pop(2)
listaDeNotas.remove(6)

print(listaDeNotas)

[5]

2. Crie uma lista de notas (3 ou mais). Mostre a média dessas notas.

In [9]:
listaDeNotas = [3.1, 9.2, 8.2, 7.2, 9.1]

if len(listaDeNotas) > 1:
  media = sum(listaDeNotas) / len(listaDeNotas)
  print(f"Média: {media:.2f}")
else:
  print("Não há notas suficientes para o calculo da média!")

Média: 7.36

3. Crie um programa que leia 3 números separados por vírgula e mostre cada um deles separadamente

In [24]:
numeros = input("Informe os 3 número: ").strip()

if numeros.count(',') == 2 and numeros.replace(',', '0').isnumeric():

  numerosSeparados = numeros.split(',')
  print(f"Primeiro número: {numerosSeparados[0]}\nSegundo número: {numerosSeparados[1]}\nTerceiro número: {numerosSeparados[2]}")

else:
  print("Parâmetros inválidos")

Informe os 3 número: 5124,12,5
Primeiro número: 5124
Segundo número: 12
Terceiro número: 5

4. Dado um nome completo mostre a abreviação simples:
"José Almir" -> "J. A."

In [35]:
nome = input("Informe o nome completo: ").strip()
nomeSeparado = nome.split()

if len(nomeSeparado) >= 2 and nome.replace(" ", "a").isalpha():
  print(f"{nomeSeparado[0][0].upper()}. {nomeSeparado[-1][0].upper()}")
else:
  print("Informe o nome COMPLETO")

Informe o nome completo: José da Silva Almir
J. A

5. Crie uma lista e exiba os elementos dela lado a lado separados
por vírgula e sem colchetes.

In [41]:
lista = ["Teste", "Da", "Silva"]

print(", ".join(lista))

Teste, Da, Silva

6. Crie um dicionário para representar uma conta bancária.


*   Leia o titular da conta e o saldo atual.
*   Em seguida, peça uma operação (1 - saque, 2 - deposito)
*   Realize a operação solicitada alterando o saldo atual da conta e exibindo o
dicionário no final.

In [45]:
conta = {}

conta["titular"] = input("Informe o titular da conta: ").strip()
conta["saldo"] = float(input("Informe o saldo atual: "))

op = int(input("Informe a operação desejada [1 - saque] [2 - depósito]"))

if op == 1:
  saque = float(input("Informe o valor do saque: "))

  if saque > conta["saldo"]:
    print("Saldo insuficiente")
  else
    conta["saldo"] -= saque

elif op == 2:
  conta["saldo"] +=  float(input("Informe o valor do depósito: "))
else:
  print("Operação inválida")
print(conta)

Informe o titular da conta: Heitor
Informe o saldo atual: 5000
Informe a operação desejada [1 - saque] [2 - depósito]2
Informe o valor do depósito: 500
{'titular': 'Heitor', 'saldo': 5500.0}



---

**Exercícios Desafio**

*Nível Básico* – **Listas**

1. Crie uma lista com os nomes de 3 frutas e:

*   Imprima a lista completa
*   Acesse e imprima apenas a segunda fruta
*   Substitua uma das frutas por outra.

In [46]:
frutas = ["Banana", "Abacate", "Maçã"]

print(frutas)
print(frutas[1])
frutas[2] = "Pera"
print(frutas)

['Banana', 'Abacate', 'Maçã']
Abacate
['Banana', 'Abacate', 'Pera']

2. Crie uma lista vazia chamada compras e adicione 3 itens usando append().

In [47]:
compras = []

compras.append("Arroz")
compras.append("Feijão")
compras.append("Carne")

print(compras)

['Arroz', 'Feijão', 'Carne']

3. Crie uma lista com 5 números e: • Mostre o número na posição 0; • Substitua o valor da posição 2; • Remova o último item com pop().'

In [48]:
nums = [1, 2, 3, 4, 5]

print(nums[0])
nums[2] = 10
nums.pop()

print(nums)

1
[1, 2, 10, 4]

*Nível Básico* – **Tuplas**

1. Crie uma tupla com os 4 primeiros planetas do sistema solar.

In [62]:
planetas = ("Mercúrio", "Vênus", "Terra", "Marte")

print(planetas)

('Mercúrio', 'Vênus', 'Terra', 'Marte')

2. Acesse o segundo e o último planeta usando índices positivos e negativos.

In [63]:
print(planetas[1])
print(planetas[-1])

Vênus
Marte

3. tente alterar um item da tupla e observe o erro gerado. Anote o que aconteceu.

In [66]:
planetas[0] = "erro"
# A tupla é imutável

TypeError: 'tuple' object does not support item assignment


---


*Nível Intermediário* – **Dicionários**

1. Crie um dicionário com os dados de uma pessoa: nome, idade e cidade. Depois: • Acesse o valor da chave "nome"; • Atualize a idade; • Adicione uma nova chave chamada "profissão".

In [49]:
pessoa = {
    "nome" : "Teste da Silva",
    "idade" : 18,
    "cidade" : "Martinópolis"
}

print(pessoa["nome"])
pessoa["idade"] = 19
pessoa["profissão"] = "Analista de TI"

print(pessoa)

Teste da Silva
{'nome': 'Teste da Silva', 'idade': 19, 'cidade': 'Martinópolis', 'profissão': 'Analista de TI'}

2. Crie dois dicionários representando dois livros (com título, autor e ano). Coloque os dois dentro de uma lista chamada biblioteca.

In [50]:
livro1 = {
    "titulo" : "Livro teste 1",
    "autor" : "Joao autor",
    "ano" : 1900
}

livro2 = {
    "titulo" : "Livro teste 2",
    "autor" : "Antonio autor",
    "ano" : 2021
}

biblioteca = [livro1, livro2]

print(biblioteca)

[{'titulo': 'Livro teste 1', 'autor': 'Joao autor', 'ano': 1900}, {'titulo': 'Livro teste 2', 'autor': 'Antonio autor', 'ano': 2021}]

3. Crie um dicionário chamado produto com as chaves: "nome", "preço" e "disponível" (True ou False). Depois, altere o valor de "disponível" para False.

In [51]:
produtos = {
    "nome" : "Televisão",
    "preço" : 1500,
    "disponível" : True
}

produtos["disponível"] = False

print(produtos)

{'nome': 'Televisão', 'preço': 1500, 'disponível': False}

4. Crie um dicionário vazio chamado aluno. Depois, adicione nome, curso e nota final separadamente.

In [52]:
aluno = {}

aluno["nome"] = "Josué"
aluno["curso"] = "Sistemas de informação"
aluno["notaFinal"] = 7.2

print(aluno)

{'nome': 'Josué', 'curso': 'Sistemas de informação', 'notaFinal': 7.2}



---



**Desafio Criativo**
Simule o cadastro de um produto: Crie um dicionário com as seguintes informações
(digitadas com input()):
• Nome do produto
• Preço
• Quantidade em estoque
Ao final, imprima uma frase como:
"Produto: Caneta | Preço: R$ 2.50 | Quantidade: 30"

In [91]:
produtos = {}

produtos["nome"] = input("Nome do Produto: ").strip()
produtos["preço"] = float(input("Preço do produto: "))
produtos["quantidade"] = int(input("Quantidade em estoque: "))

# print("Produto:",produto["nome"],"| Preço: R$", produto["preço"],"| quantidade:", produto["quantidade"])

produtosElementos = list(produtos.values())
print(f"Produto: {produtosElementos[0]} | Preço: R${produtosElementos[1]:.2f} | Quantidade: {produtosElementos[2]}")

Nome do Produto: Caneta
Preço do produto: 2.50
Quantidade em estoque: 30
Produto: Caneta | Preço: R$2.50 | Quantidade: 30